html {
    scroll-behavior: smooth;
}

.navbar-brand {
    font-family: 'Laila', sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #fff;
}

.nav-link {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    font-size: 18px;
    color: #FFFFFF;
}

.navbar-brand:hover, .nav-link:hover {
    color: #FFFFFF;
}

.header {
    position: relative;
    background: var(--bs-dark) url("../assets/headerBack.png") no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    max-height: 700px;
}

.header:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background: rgb(18, 18, 18);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.89) 0%, rgba(217, 217, 217, 0.17) 61%, rgba(171, 171, 171, 0.64) 100%);
}

.hero {
    min-height: 780px;
}

.header-content h1 {
    color: #ffffff;
    font-family: "Spectral", "Open Sans", sans-serif;
    font-size: 78px;
}

.header-content p {
    font-family: "Gelasio", serif;
    font-size: 20px;
    color: #FFFFFF;
}

.z-top {
    z-index: 9999;
}

.gallery-content, .contact {
    background: #ECF1F0;
}

#gallery, #services, #contact {
    padding: 72px;
}

#gallery h1,
#services h1,
#contact h1 {
    font-family: "Laila", sans-serif;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 42px;
}

#services .service-card {
    width: 384px;
    height: 206px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #FFF;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.15);
    padding: 21px;

}

@media screen and (max-width: 800px){
    #services .service-card {
        width: 100% !important;
        border: 1px solid red;
    }
}

#services .service-card h1 {
    font-size: 24px;
    margin-bottom: 12px;
}

#services .service-card img {
    width: 50px;
    height: 50px;
    margin-bottom: 24px;
}

.form input, .form textarea {
    border-radius: 4px;
    background: #FFF;
    border: 1px solid #FFFFFF;
    font-size: 1rem;
    display: block;
    width: 100% !important;
    outline: none;
    padding: 4px 8px;
}

.tel {
    color: #000;
    font-family: "Roboto", "Open Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.submit button {
    border-radius: 2px;
    background: #409B5A;
    color: #FFFFFF;
    border: 1px solid #409B5A;
    padding: 8px 25px;
    font-family: "Roboto", "Open Sans", sans-serif;
    font-size: 18px;
}

.footer h1 {
    color: #000;
    font-family: "Laila", "Open Sans", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 26px;
}

.my-img {
    width: 100%;
    height: 400px;
    margin: 8px;
    outline: none;
}
